header
  .avatar
    img(src=avatarSrc)

  .meta
    h1.full-name #{name}
    h2.username #{username}

  button.edit-mode.hidden #{__edit}

  button.login #{__login}
  button.logout.hidden #{__logout}

  .mobile
