.tile.user-info
  h3 #{__aboutMe}
  p.description-output.description(data-view-only)
  textarea.description(placeholder="#{__writeAboutYoSelf}", data-editor-only, name="description")
  .info
    .stats
      ul
        li
          span.number.makes-number
          span.word #{__Makes}
        li
          span.number.likes-number
          span.word #{__Likes}
    .links
      ul.link-list
      input(name="link-url", placeholder="#{__pasteYoURL}", data-editor-only)
      button.add(data-editor-only): span + #{__add}
