.tile.user-info
  h3 #{__aboutMe}
  p.description-output.description(data-view-only)
  textarea.description(data-editor-only, name="description")
  .info
    .col.stats
      ul
        li
          span.number 14
          span.word #{__Makes}
        li
          span.number 2
          span.word #{__Likes}
    .col.links
      ul.link-list
      input(name="link-url", data-editor-only)
      button.add(data-editor-only): span #{__add}
  .editing-buttons
    button.button-grey.edit #{__edit}
    button(data-editor-only).button.save: span #{__save}
