//- Used for displaying Thimble and Popcorn makes

include ../arrow-container
include ../loader

div(class="tile static")
  h3.handle.title
    a(href=url, target="_blank") #{title}
  a(href=url, target="_blank")
    img.thumbnail(src=thumbnail)
  p.description #{description}
  mixin arrowtainer
  mixin loader
